.footer {
	background-color: var(--primary-bg-color);
	padding: 60px 0;
	&__inner {
		display: flex;
		align-items: baseline;
		column-gap: 70px;
	}

	&__logo {
		color: var(--white-color);
		margin-bottom: 20px;
	}

	&__address {
		line-height: 1.7;
		color: var(--white-color);
		margin-bottom: 9px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}

	&__title {
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--white-color);
		margin-bottom: 20px;
	}
}
