.footer {
	background-color: var(--primary-bg-color);
	padding: 60px 0;
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 60px;

		@include mq(desk) {
			flex-direction: row;
			justify-content: space-between;
			align-items: baseline;
		}
	}

	&__body {
		@include mq(tab) {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
		}

		@include mq(desk) {
			gap: 70px;
		}
	}

	&__contacts {
		text-align: center;
		margin-bottom: 60px;

		@include mq(tab) {
			margin-bottom: 0;
		}

		@include mq(desk) {
			text-align: left;
		}
	}

	&__logo {
		color: var(--white-color);
		margin-bottom: 20px;
	}

	&__address {
		line-height: 1.7;
		color: var(--white-color);
		margin-bottom: 9px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}

	&__title {
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--white-color);
		margin-bottom: 20px;
		text-align: center;

		@include mq(desk) {
			text-align: left;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include mq(desk) {
			display: block;
		}
	}

	&__subscribe-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;

		@include mq(desk) {
			flex-direction: row;
			justify-content: left;
			gap: 12px;
		}
	}
}
