.modal-form {
	&__label {
		display: block;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:focus-within .modal-form__input {
			border-color: var(--accent-color);
		}

		&:focus-within .modal-form__icon {
			fill: var(--accent-color);
		}
	}

	&__label-text {
		display: block;
		font-size: 12px;
		line-height: 1.2;
		letter-spacing: 0.01em;
		color: var(--light-color);
		margin-bottom: 4px;
	}

	&__input {
		display: block;
		width: 100%;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		padding: 12px 42px;
		outline: none;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__input--message {
		padding: 12px 16px;
		height: 120px;
		resize: none;

		&::placeholder {
			letter-spacing: 0.01em;
			color: rgba(117, 117, 117, 0.5);
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 12px;
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__label-check {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 8px;
		margin: 20px 0 30px 0;
	}

	&__input-check {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked + .modal-form__icon-check {
			background-color: var(--accent-color);
			border-color: transparent;
		}
	}

	&__icon-check {
		fill: var(--white-color);
		width: 16px;
		height: 16px;
		border: 2px solid var(--primary-color);
		border-radius: 4px;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
			background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__terms {
		font-size: 9px;
		line-height: 1.7;
		color: var(--light-color);

		@include mq(mob) {
			font-size: 12px;
		}

		@include mq(desk) {
			font-size: 14px;
		}
	}

	&__terms-link {
		color: var(--accent-color);
		text-decoration: underline !important;
	}

	&__btn {
		margin: 0 auto;
		padding: 10px 55px;

		&:hover,
		&:focus {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		}
	}
}
