.social {
	display: flex;
	column-gap: 10px;
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 100%;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: var(--accent-bg-color);
		}

		&:hover .social__icon,
		&:focus .social__icon {
			fill: var(--white-color);
		}
	}

	&__link--bg {
		background-color: rgba(255, 255, 255, 0.1);
	}

	&__icon {
		fill: var(--icon-color);
		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__icon--white {
		fill: var(--white-color);
	}
}
.social--center {
	justify-content: center;
}
