.subscribe-form {
	&__input {
		padding: 15px 16px;
		width: 100%;
		height: 50px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		outline: none;
		background-color: inherit;
		color: var(--white-color);
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&::placeholder {
			font-size: 16px;
			line-height: 1.3;
			color: rgba(255, 255, 255, 0.6);
		}

		&:focus {
			border-color: var(--accent-color);
		}

		@include mq(tab) {
			width: 450px;
		}

		@include mq(desk) {
			width: 358px;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;
		padding: 10px 28px;

		&:hover,
		&:focus {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		}
	}

	&__icon {
		fill: var(--white-color);
	}
}
