* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
body {
	color: var(--primary-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 0.03em;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	outline: none;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline: none;
}
ul li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
address {
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
