:root {
	// Colors
	--primary-color: #212121;
	--accent-color: #2196f3;
	--light-color: #757575;
	--white-color: #fff;
	--icon-color: #afb1b8;

	--primary-bg-color: #2f303a;
	--accent-bg-color: #2196f3;
	--light-bg-color: #f5f4fa;
	--white-bg-color: #fff;
	--btn-bg-color: #2196f3;
	--btn-bg-hover-color: #188ce8;
}
